<h1>Edit the costume</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <%= simple_form_for  @costume  do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
         <%= f.input :size, :collection => ["x-small", "small", "medium", "large", "x-large"] %>
         <%= f.input :gender, :collection => ["male", "female", "unisex"] %>
         <%= f.input :photos, as: :file, input_html: { multiple: true } %>
       
        
        <%= f.submit "Done!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
