<div class = "container py-5">
<div class="d-flex">
  <div class="show-card-image">
    <% @costume.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
    <div class="show-card-text pl-4">
  <h2><%= @costume.name %></h2>
    <p><%= @costume.description %></p>
    <p>City: <%= @costume.city %></p>
    <p>Price: <%= @costume.price %></p>
    <p>Size: <%= @costume.size %></p>
    <p>Gender: <%= @costume.gender %></p>
    <p>Tags: <%= @costume.pretty_tags %></p>
  </div>
  </div>
      <% if policy(Booking.new(costume: @costume)).create? %>
        <div class="text-dark shadow p-3 mb-5 mt-3 bg-white rounded" id='costume-booking-dates' data-unavailable="<%= @costume.unavailable_dates.to_json %>">
          <h2 class="text-center">Book <%= @costume.name.capitalize %></h2>
          <%= simple_form_for [@costume, @booking] do |f| %>
            <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
            <%= f.submit "Complete Booking", class: "btn btn-primary" %>
            <%= link_to "Back to Search", costumes_path(search: { city: params[:city], size: params[:size], gender: params[:gender], tag: params[:tag] }), class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    <%= link_to "Back to Dashboard", dashboard_path %>


  <% @costume.reviews.each do |review| %>
    <div class="card">
      <p><%= review.title %></p>
      <p><%= review.description %></p>
      <p>Rating: <%= review.rating %></p>
    <% end %>
    </div>
</div>
