<div class = "container py-5">

  <h2><%= @costume.name %></h2>

    <p><%= @costume.description %></p>
    <p><strong>City:</strong> <%= @costume.city %></p>
    <p><strong>Price:</strong> <%= @costume.price %></p>
    <p><strong>Size:</strong> <%= @costume.size %></p>
    <p><strong>Gender:</strong> <%= @costume.gender %></p>

    <% @costume.tags.each do |tag| %>
      </p>TAG :<%= tag.name %></p>
    <% end %>

    <% @costume.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>

    <% if policy(Booking.new(costume: @costume)).create? %>
      <div id='costume-booking-dates' data-unavailable="<%= @costume.unavailable_dates.to_json %>">
        <%= simple_form_for [@costume, @booking] do |f| %>
          <p></p>
          <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
          <%= f.submit "Complete Booking", class: "btn btn-primary" %>
          <%= link_to "Back to Search", costumes_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>

  <% @costume.reviews.each do |review| %>
    <div class="card">
      <p><%= review.title %></p>
      <p><%= review.description %></p>
      <p>Rating id: <%= review.rating %></p>
    <% end %>
    </div>

</div>
