<div class="card-product rounded">
  <% if booking.costume.photos.any? %>
    <%= cl_image_tag booking.costume.photos.first.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-product-infos d-flex justify-content-between w-100 align-items-center">
    <div class="">
      <h2><%= booking.costume.name %></h2>
      <p><%= booking.start_date.strftime("%A, %b %d %Y") %> to <%= booking.end_date.strftime("%A, %b %d %Y") %></p>
      <p><%= booking.status %></p>
    </div>
    <div class="card-buttons">
    <% if booking.status == "pending" && owner %>
      <%= link_to "ACCEPT", accept_booking_path(booking), method: :post, class: "btn btn-primary mr-2" %>
      <%= link_to "REJECT", reject_booking_path(booking), method: :post, class: "btn btn-danger mr-3" %>
    <% end %>
    <% if booking.end_date < Date.today && !owner && booking.status == "accepted" %>
      <%= link_to "Leave a review", new_booking_review_path(booking), class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</div>
