<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1606804996/Confetti/Banner1_hmx8fe.jpg", width: 400, height: 300, crop: :fill) %>);">

  <div class="container mt-4">
    <h1 class="mb-2">Find the perfect costume for any occasion</h1>
    <p class="mb-5">Only on Confetti</p>
    <form class="form-inline my-lg-0 justify-content-center" action="/costumes">
      <input class="form-control mr-sm-2" type="search" name="city" placeholder="Search Location" aria-label="Search">
      <input class="form-control mr-sm-2" type="search" placeholder="Choose Category" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>

<p></p>
<div class="container justify-content-center">
  <h2 style="text-align:center">Choose your Category</h2>
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1607054537/Confetti/Wedding-1_zf6ea8.jpg", width: 400, height: 300, crop: :fill) %>);">
        <p style="text-align: bottom center">Halloween</p>
      </div>
    </div>
    <div class="col-6">
      <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1607054542/Confetti/Halloween-3_bp1ubk.jpg", width: 400, height: 300, crop: :fill) %>);">
        <p>Wedding<p>
      </div>
    </div>
    <div class="col-6">
      <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1607054539/Confetti/Christmas-1_l0pisc.jpg", width: 400, height: 300, crop: :fill) %>);">
        <p>Christmas</p>
      </div>
    </div>  
    <div class="col-6">
      <div class="landing-card mb-3" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/dobjv8usn/image/upload/v1607055777/Confetti/NYE-2_lzqusn.jpg", width: 400, height: 300, crop: :fill) %>);">
        <p>New Years</p>
      </div>
    </div>
  </div>
</div>