<div class="container py-5">

  <h2 class="text-center mt-1 mb-3">Pending Bookings</h2>
  <% @owner_bookings.each do |booking| %>
    <% if booking.status == "pending" %>
      <%= render 'bookings/card', booking: booking, owner: true %>
    <% end %>
  <% end %>
  <% @renter_pending_bookings.each do |booking| %>
    <%= render 'bookings/card', booking: booking, owner: false%>
  <% end %>

  <h2 class="text-center mt-1 mb-3">Upcoming Bookings</h2>
  <% @owner_bookings.each do |booking| %>
    <% if booking.status == "accepted" && booking.end_date > Date.today %>
      <%= render 'bookings/card', booking: booking, owner: true %>
    <% end %>
  <% end %>
  <% @renter_accepted_bookings.each do |booking| %>
    <%= render 'bookings/card', booking: booking, owner: false%>
  <% end %>

  <h2 class="text-center mt-1 mb-3">Completed Bookings of Your Costumes</h2>
    <% @owner_completed_bookings.each do |booking| %>
    <%= render 'bookings/card', booking: booking, owner: true %>
  <% end %>
   <h2 class="text-center mt-1 mb-3">Leave a Review</h2>
  <% @renter_completed_bookings.each do |booking| %>
    <%= render 'bookings/card', booking: booking, owner: false %>
  <% end %>

  <h2 class="text-center mt-1 mb-3"><%= link_to "List new costume", new_costume_path %></h2>
  <h2 class="text-center mt-1 mb-3"><%= link_to "View all costumes", costumes_path %></h2>
